<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>eShop</title>
  <link rel="icon" type="image/jpg" href="img/min/default.jpg"/>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="vue_script.js"></script>
</head>
<body>
<div class="wrapper">
  <div class="top">
    <div id="app" class="catalog">
      <header class="header">
        <search-line-component @search="searchButtonClickHandler"></search-line-component>
        <div v-if="!isCartDisplaying" @click="cartButtonHandler" class="btn btn-success cart-button">Shopping cart</div>
        <div v-if="isCartDisplaying" @click="backToProductsButtonHandler"
             class="btn btn-success back-to-products-button">
          Back to products
        </div>
      </header>
      <main>
        <error-message-component v-if="hasError" :error-message="errorMessage"></error-message-component>
        <products-component v-if="!isCartDisplaying" :query="query" :products="filterProducts" @buy="buyButtonHandler"></products-component>
        <cart-component
            v-if="isCartDisplaying"
            :cart-items="cartItems"
            @update="updateCartItemButtonHandler"
            @delete="deleteCartItemButtonHandler"
        ></cart-component>
      </main>
    </div>
  </div>
  <div class="footer"></div>
</div>
</body>
</html>