* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.top {
    flex-grow: 1;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.catalog {
    max-width: 1600px;
    padding: 0 100px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    min-width: 680px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 80px;
    line-height: 80px;
    background-color: #dddddd;
    padding: 0 20px;
}

.footer {
    display: block;
    height: 200px;
    background-color: #dddddd;
    padding: 0 20px;
    margin-top: 50px;
}

.query {
    height: 38px;
    width: 300px;
    margin-right: 5px;
    padding: 0 10px;
    border: hidden;
    border-radius: 5px;
    outline: none;
}

.cart-button,
.back-to-products-button {
    width: 150px;
    height: 38px;
    align-self: center;
}

.search-button {
    margin-right: 40px;
    margin-bottom: 3.7px;
}

.cards-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 20.5rem;
    min-width: 18rem !important;
    margin-top: 30px;
}

.card-product-img {
    width: 300px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
}

.card:nth-child(4n-1):last-child {
    margin-right: 25.55%;
}

.card:nth-child(4n-2):last-child {
    margin-right: 51.05%;
}

.data-field {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.cart-input {
    width: 50px;
    margin-right: 10px;
    text-align: right;
}

.remove-btn {
    margin-left: 10px;
}

.cart-bottom {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #555;
    margin: 25px 0 25px;
}

.totals {
    font-size: 1.25em;
}